body{
    background-color: black;
    color: white;
    font-size:100%;
    text-align: center;

}

.container{
    margin: 4rem 9rem 0rem 9rem;
    /* position: relative; */
    /* left: 20rem; */
    
}

#num1{
    height: 1.5rem;
    width: 9rem;
    font-size: 2rem;
}

#num2{
    height: 1.5rem;
    width: 9rem;
    font-size: 2rem;
}

#btn{
    height: 4rem;
    width: 9rem;
    background-color: green;  
    color:white;
    border-radius: .5rem;
    font-size: 1.5rem;
}
#operator{
height: 2rem;
width: 10rem;
font-size: 1.5rem;
}

#result{
    text-align: center;
    font-size: 2rem;
}